{% extends "layout.html" %}


{% block body %}


    <div class="bs-docs-section">
      <div class="row">
        <div class="col-lg-12">
          <div class="bs-component">
            <div class="jumbotron">
              <h1>encrypted.me</h1>
              <p>{{ message }}</p>
              <p><a class="btn btn-primary btn-lg">Learn more</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <form class="form-horizontal" method="post" action="{{ url_for('encrypt') }}">
        <div class="form-group-lg">
          <div class="col-lg-12">
            <input type="text" name="enc_val" id="encryptedValue" class="form-control" placeholder="Enter string..."/>
            <button style="margin-top:5px;" type="submit" class="btn btn-lg btn-primary">
              <i class="fa fa-universal-access"></i> Encrypt
            </button>
          </div>
        </div>
      </form>
    </div>

{% endblock %}