{% extends "layout.html" %}

    {% block body %}

        <div class="row">
            <div class="col-lg-12">
                <div class="well well-lg">
                    <h2 style="margin-bottom:20px;"><i class="fa fa-info-circle"></i> Terms and Conditions of Use</h2>

                        <p>There are some countries that have regulations on the use of cryptography systems; it may be unlawful to use pycipher.net in these countries.</p>

                        <p>For a guide to International Laws regarding cryptography, please see <a href="http://www.cryptolaw.org/" target="_blank">Crypto Law Survey</a>.</p>

                        <p><b>1. Terms</b></p>

                        <p>By accessing this web site, you are agreeing to be bound by these web site Terms and Conditions of Use, all applicable laws and regulations and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this web site are protected by applicable copyright and trade mark law.</p>

                        <p><b>2. Disclaimer</b></p>

                        <p>The materials on pycipher.net's web site are provided "as is". pycipher.net makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, pycipher.net does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.</p>

                        <p><b>3. Limitations</b></p>

                        <p>In no event shall pycipher.net or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the pycipher.net's Internet site, even if pycipher.net or a pycipher.net authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.</p>

                        <p><b>4. Revisions and Errata</b></p>

                        <p>The materials appearing on pycipher.net's web site could include technical, typographical, or photographic errors. pycipher.net does not warrant that any of the materials on its web site are accurate, complete, or current. pycipher.net may make changes to the materials contained on its web site at any time without notice. pycipher.net does not, however, make any commitment to update the materials.</p>

                        <p><b>5. Site Terms of Use Modifications</b></p>

                        pycipher.net may revise these terms of use at any time without notice. By using this tool you are agreeing to be bound by the then current version of these Terms and Conditions of Use.</p>

                        <p><b>6. Privacy Policy</b></p>

                        <p>We take your privacy seriously and will take all measures to protect your personal information.</p>
                </div>
            </div>
        </div>


    {% endblock %}


